section
  h2#about-me About Myself
  hr.bar

  div.about-lock
    .flip-container(ontouchstart="this.classList.toggle('hover');")
     .flipper
       .front
          div.face-img
       .back
          div.face1-img

    div(class="glyph-icon flaticon-cogwheel28")
    div(class="glyph-icon flaticon-computer1")
    div(class="glyph-icon flaticon-hosting")
    div(class="glyph-icon flaticon-computers13")

  div.blurb

    p I am a PhD Student for the #[a(href="http://www.ac.upc.edu/es",target="_blank") Computer Architecture Department (DAC - UPC)] working in collaboration with the #[a(href="https://www.bsc.es/discover-bsc/organisation/scientific-structure/workflows-and-distributed-computing",target="_blank") Workflows and Distributed Computing group (WDC)] at the #[a(href="https://www.bsc.es/",target="_blank") Barcelona Supercomputing Center (BSC)].
    p I am actively involved in the development of Frameworks for Analytic and HPC workflows; such as #[a(href="https://compss.bsc.es",target="_blank") COMP Superscalar (COMPSs)]. My areas of interest are: High Performance Computing (HPC), Big Data Analytics (BDA), Distributed Computing (DC) and Data Streaming Technologies. 

  div.skill-lock

