section.section-contact

  h2#Details Contact Details

  hr.bar

  div.social-links
    a(href='https://stackoverflow.com/users/6018655/cristi%C3%A1n-ram%C3%B3n-cort%C3%A9s')
      div(class="glyph-icon flaticon-facebook3")
    a(href='https://es.linkedin.com/in/cristian-ramon-cortes')
      div(class="glyph-icon flaticon-linkedin")
    a(href='https://github.com/cristianrcv')
      div(class="glyph-icon flaticon-github")
    a(href='https://www.youtube.com/channel/UCxx5hojMjCNqKRJclMaJbHQ')
      div(class="glyph-icon flaticon-youtube31")

  hr.bar

  a( class='biglink' href='mailto:cristian.ramoncortes@bsc.es') cristian.ramoncortes@bsc.es

