.history
  .cd-timeline-header
    h2#Experenice Experience
    hr.bar

  section#cd-timeline.cd-container
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="assets/img/college.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2.story-heading PhD Student
          P
            | PhD Student at the Computer Architecture Department (DAC - UPC) in collaboration with the Barcelona Supercomputing Center (BSC). Please find further information at the Computer Architecture Department at the #[a(href="http://www.ac.upc.edu/es",target="_blank") DAC webpage], and about the BSC at the #[a(href="https://www.bsc.es/",target="_blank") BSC webpage ] .

          span.cd-date 2017 - Current
        // cd-timeline-content
        // cd-timeline-block

      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src="assets/img/college.svg", alt="Location")
        // cd-timeline-img
        .cd-timeline-content
          h2 MIRI-HPC (UPC)
          p
            | Master in Innovation and Research in Informatics, High Performance Computing (UPC). Please find further information at the #[a(href="https://www.fib.upc.edu/en/studies/masters/master-innovation-and-research-informatics",target="_blank") MIRI webpage] .

          span.cd-date 2015 - 2017
        // cd-timeline-content
        // cd-timeline-block  

      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="assets/img/web-programming.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2 Junior Developer at the BSC
          p
            | Junior Developer at the Workflows and Distributed Computing group (WDC) at the Barcelona Supercomputing Center (BSC). Please find further information about the WDC group at the #[a(href="https://www.bsc.es/discover-bsc/organisation/scientific-structure/workflows-and-distributed-computing",target="_blank") WDC Webpage], about the COMP Superscalar Framework at the #[a(href="https://compss.bsc.es",target="_blank") COMPSs webpage], and about the BSC at the #[a(href="https://www.bsc.es/",target="_blank") BSC webpage] .

          span.cd-date March 2016 - May 2017
        // cd-timeline-content
        // cd-timeline-block

      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="assets/img/web-programming.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2 Resident Student at the BSC
          p
            | Resident Student at the Grid group at the Barcelona Supercomputing Center (BSC). Please find further information at the #[a(href="https://www.bsc.es/",target="_blank") BSC webpage ] .

          span.cd-date March 2014 - March 2016
        // cd-timeline-content
        // cd-timeline-block

      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src="assets/img/graduate38.svg", alt="Location")
        // cd-timeline-img
        .cd-timeline-content
          h2 Design and build a robotic hand for a Darwin OP robot
          p
            | Master Thesis at the Institut de Robotica Industrial (IRI - UPC) for the Industrial Engineer's degree and Computer Sciences Engineer's degree. Please find further details about this publication at #[a(href="https://upcommons.upc.edu/handle/2099.1/25407",target="_blank") UPCommons] .

          span.cd-date 2013 - 2014
        // cd-timeline-content
        // cd-timeline-block 

      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="assets/img/college.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2.story-heading Computer Science Engineer
          P
            | Computer Science Enginner's Degree by the Facultat d'Informatica de Barcelona (FIB - UPC). Please find further information at the #[a(href="https://www.fib.upc.edu/",target="_blank") FIB webpage] .

          span.cd-date 2008 - 2014
        // cd-timeline-content
        // cd-timeline-block

      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="assets/img/college.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2.story-heading Industrial Engineer
          P
            | Industrial Engineer's Degree by the Escola Tecnica Superior d'Enginyeria Industrial de Barcelona (ETSEIB - UPC). Please find further information at the #[a(href="https://etseib.upc.edu/ca",target="_blank") ETSEIB webpage] .

          span.cd-date 2008 - 2014
        // cd-timeline-content
        // cd-timeline-block

      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="assets/img/college.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2.story-heading CFIS - Interdisciplinary
          P
            | I joined the Centre de Formació Interdisciplinaria Superior (CFIS - UPC) to simultaneously attend the Industrial Engineer's Degree (ETSEIB - UPC) and the Computer Sciences Engineer's Degree (FIB - UPC). Please find further information at the #[a(href="https://cfis.upc.edu/es",target="_blank") CFIS webpage] .

          span.cd-date 2008 - 2014
        // cd-timeline-content
        // cd-timeline-block

      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="assets/img/college.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2.story-heading AULA Escola Europea
          P
            | Primary, Secondary and General Education at AULA Escola Europea. Please find further information at the #[a(href="http://www.aula-ee.com/escola/",target="_blank") AULA Escola Europea webpage] .

          span.cd-date 1993 - 2008
        // cd-timeline-block

        .cd-timeline-block                                                                                                                                                                                                                  
          .cd-timeline-img.cd-location
            img(src="../assets/img/question30.svg", alt="Location")
        // cd-timeline

  .cd-timeline-header
    h2
