.history
  .cd-timeline-header
    h2#Experenice Experience
    hr.bar

  section#cd-timeline.cd-container
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="assets/img/college.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2.story-heading PhD Student
          P
            | PhD Student at the Computer Architecture Department (DAC - UPC) in collaboration with the Barcelona Supercomputing Center (BSC)

          span.cd-date 2017 - Current
        // cd-timeline-content
        // cd-timeline-block

      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src="assets/img/college.svg", alt="Location")
        // cd-timeline-img
        .cd-timeline-content
          h2 MIRI HPC (UPC)
          p
            | Master in Innovation and Research in Informatics, High Performance Computing (UPC)

          span.cd-date 2015 - 2017
        // cd-timeline-content
        // cd-timeline-block  

      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="assets/img/web-programming.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2 Junior Developer at the BSC
          p
            | Juior Developer at the Workflows and Distributed Computing group at the Barcelona Supercomputing Center (BSC)

          span.cd-date March 2016 - May 2017
        // cd-timeline-content
        // cd-timeline-block

      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="assets/img/web-programming.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2 Resident Student at the BSC
          p
            | Resident Student at the Grid group at the Barcelona Supercomputing Center (BSC)

          span.cd-date March 2014 - March 2016
        // cd-timeline-content
        // cd-timeline-block

      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src="assets/img/graduate38.svg", alt="Location")
        // cd-timeline-img
        .cd-timeline-content
          h2 Design and build a robotic hand for a Darwin OP robot
          p
            | Thesis. Institut de Robotica Industrial (IRI - UPC)

          span.cd-date 2013 - 2014
        // cd-timeline-content
        // cd-timeline-block 

      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="assets/img/college.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2.story-heading Computer Science Engineer
          P
            | Computer Science Enginner by the Facultat d'Informatica de Barcelona (FIB - UPC)

          span.cd-date 2008 - 2014
        // cd-timeline-content
        // cd-timeline-block

      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="assets/img/college.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2.story-heading Industrial Engineer
          P
            | Industrial Engineer by the Escola Tecnica Superior d'Enginyeria Industrial de Barcelona (ETSEIB - UPC)

          span.cd-date 2008 - 2014
        // cd-timeline-content
        // cd-timeline-block

      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="assets/img/college.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2.story-heading CFIS - Interdisciplinary
          P
            | Centre de Formació Interdisciplinaria Superior (CFIS - UPC)

          span.cd-date 2008 - 2014
        // cd-timeline-content
        // cd-timeline-block

      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="assets/img/college.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2.story-heading AULA Escola Europea
          P
            | AULA Escola Europea

          span.cd-date 1993 - 2008
        // cd-timeline-block

        .cd-timeline-block                                                                                                                                                                                                                  
          .cd-timeline-img.cd-location
            img(src="../assets/img/question30.svg", alt="Location")
        // cd-timeline

  .cd-timeline-header
    h2
